 <main class="form-signin w-100 m-auto">
  <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <h1 class="h3 mb-3 fw-normal">Sign up</h1>

        <div class="form-floating">
          <%= f.email_field :email, class: "form-control", id: "floatingInputEmail", placeholder: "name@example.com" %>
          <%= f.label :email, "Email address", for: "floatingInputEmail" %>
        </div>

        <div class="form-floating">
          <%= f.password_field :password, class: "form-control", id: "floatingPassword", placeholder: "Password" %>
          <%= f.label :password, "Password", for: "floatingPassword" %>
        </div>

        <div class="form-floating">
          <%= f.password_field :password_confirmation, class: "form-control", id: "floatingPasswordConfirmation", placeholder: "Confirm password" %>
          <%= f.label :password_confirmation, "Confirm password", for: "floatingPasswordConfirmation" %>
        </div>

        <div class="form-floating">
          <%= f.select :role, [:user, :translator] %>
          <%= f.label :role, "Choose role" %>
        </div>

        <%= f.submit "Sign up", class: "btn btn-primary w-100 py-2" %>

        
      <% end %>

      <!-- Google Sign In Button -->
      <%= button_to omniauth_authorize_path(:user, :google_oauth2), method: :post, data: { turbo: false }, class: "btn btn-light border d-flex align-items-center my-2" do %>
          <%= image_tag "png-transparent-google-logo-google-text-trademark-logo-thumbnail.png", alt: "Google logo", class: "me-2", width: 20, height: 20 %>
          Sign in with Google
      <% end %>
      </div>
    </div>
  </div>
</main> 

