<h1 class="my-4 text-center"> <%=t('orders.all')%> </h1>

<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped align-middle">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Title</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Performer</th>
        <th>Customer</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.id, order_path(order), class: 'text-decoration-none' %></td>
          <td>
            <%# Font-awesome badges %>
            <% case order.aasm.current_state %>
            <% when :active %>
              <span class="badge bg-warning text-dark">
                <i class="fa fa-hourglass-start"></i> Active
              </span>
            <% when :in_progress %>
              <span class="badge bg-primary">
                <i class="fa fa-spinner fa-spin"></i> In Progress
              </span>
            <% when :completed %>
              <span class="badge bg-success">
                <i class="fa fa-check-circle"></i> Completed
              </span>
            <% when :canceled %>
              <span class="badge bg-danger">
                <i class="fa fa-times-circle"></i> Canceled
              </span>
            <% end %>
          </td>
          <td><%= order.title %></td>
          <td><%= order.description %></td>
          <td><%= order.deadline.strftime('%Y-%m-%d %H:%M') if order.deadline %></td>
          <td><% if order.performer_id %>
              <%= link_to "Performer ##{order.performer_id}", profile_path(order.performer_id), class: 'text-decoration-none' %>
            <% else %>
              <span class="text-muted">Not assigned</span>
            <% end %></td>
          <td><% if order.customer_id %>
              <%= link_to "Customer ##{order.customer_id}", profile_path(order.customer_id), class: 'text-decoration-none' %>
            <% else %>
              <span class="text-muted">Not assigned</span>
            <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>